{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div id="side" class="container col-4 border">
            
            <h2 class="text-uppercase">terminal</h2>
            <textarea name="form-control" id="" cols="40" rows="10"></textarea>
            
            <h2 class="text-uppercase">plant health</h2>
            <p class="bg-secondary bg-gradient p-3 font-monospace text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias debitis officiis voluptates nobis aspernatur praesentium, ullam quod id! Iusto, ratione? Qui distinctio dicta quibusdam eos pariatur dolores deserunt maiores dolorem rem reiciendis similique dignissimos velit quaerat, voluptate blanditiis voluptatem delectus, sequi laudantium inventore! Omnis hic vero in unde ullam nulla.</p>
            <div class="row justify-content-around">
                <button class="btn rounded btn-lg btn-outline-primary text-uppercase">Reset</button>
                <button class="btn rounded btn-lg btn-danger text-uppercase">STOP</button>
            </div>
        </div>
        <main class="container col-8 border">
            <div id="temprature" class="container chart border">
                <h1 class="border-bottom">Temperature</h1>
                <div class="row">
                    <div class="col-10 border">Chart</div>
                    <div class="col-2 border">Current</div>
                </div>
            </div>
            <div id="humidity" class="container chart border">
                <h1 class="border-bottom">Humidity</h1>
                <div class="row">
                    <div class="col-10 border">Chart</div>
                    <div class="col-2 border">Current</div>
                </div>
            </div>
            <div id="pressure" class="container chart border">
                <h1 class="border-bottom">Pressure</h1>
                <div class="row">
                    <div class="col-10 border">Chart</div>
                    <div class="col-2 border">Current</div>
                </div>
            </div>
            <button class="btn btn-primary">Show Data</button>
        </main>
    </div>
    <div class="row border">
        <div class="col-12 display-4 text-center">Container Schedule</div>
    </div>
</div>

{% endblock content %}